<!-- home.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bamboo's garage</title>
    <link rel="shortcut icon" type="image/x-icon" href="//rockmk2013.github.io/blob/master/14612434_10153852586871402_8180414832633532564_o.png">
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <p class="site-title ">
            <a href="/">Bamboo's garage</a>
        </p>
        <p class="site-title2 ">Keep learning, learning deeply</p>
    </div>
    <div class="container">
		<div class="post_list">
    	<div class="post_heading " align="right">
           <h2>文章列表&nbsp; &nbsp;</h2>
                    {% for post in post_list %}
        	        <h2 class="title">
    				<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}&nbsp; &nbsp;</a>
					</h2>
					{% endfor %}
        </div>
        </div>
        
        {% for post in post_list %}
        <div class="post-wrapper">
            <div class="post">
                <div class="post-heading">
                    <h2 class="title">
    				<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
					</h2>
                    <div class="date">{{ post.created_date|date:"Y / m / d" }}</div>
                </div>
                {% if post.photo %}
                <div class="thumbnail">
                    <img src="{{ post.photo }}" alt="">
                </div>
                {% else %}
                <div class="thumbnail thumbnail-default"></div>
                {% endif %}
                <div class="post-content read-more-block">
                    {{ post.text }}
                </div>
                <div class="post-footer">
                    <a class="read-more" href="{% url 'post_detail' pk=post.pk %}">
    				Read More <i class="fa fa-arrow-right"></i>
					</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="reserved " align="center">
    	<p  style="font-size: 16px ;color: white">© Rock Kuo. 2017. All rights reserved.</p>
    </div>
</body>
</html>