<!-- templates/post.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ post.title }} | Bamboo's garage</title>
    <!--   
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    -->
    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/rockmk2013/rockmk2013.github.io/blob/master/14612434_10153852586871402_8180414832633532564_o.png?raw=true">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <br><br>
        <p class="site-title text-center">
            <a href="/">Bamboo's garage</a>
        </p>
        <p class="site-title2 ">Keep learning, learning deeply</p>
    </div>
    
    <div class="container">
    <div class="post_list">
        <div class="post_heading " align="right">
            <div class="others">
           <h2>目前閱讀&nbsp; &nbsp;</h2>
                    
                    <h2 class="title">
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}&nbsp; &nbsp;</a>
                    </h2>
                    <h2 class="title">
                    <a href="/">回首頁&nbsp; &nbsp;</a><br>
                    </h2>
            <h1>關於我&nbsp; </h1>
                    <img class="selfphoto" src="https://scontent.ftpe4-2.fna.fbcdn.net/v/t1.0-9/14595660_1204322452959403_2305618692265055290_n.jpg?oh=3aed517536d8cf812aaad54c0c1b05e3&oe=5948E951" alt="">
                    <h4 class="intro" align="left">屏東人，寄居台北，就讀政治大學資管系四年級，樂團主唱，喜歡嘗試新事物，熱愛創作、音樂，體驗生活，希望能為這世界做點什麼。</h4>
                    <h2 class="title">
                    <a href="https://www.facebook.com/profile.php?id=100001449795039">Facebook&nbsp;</a>
                    </h2>
                    <h2 class="title">
                    <a href="https://github.com/rockmk2013/">Github&nbsp;</a><br>
                    </h2>
               </div>     
        </div>
    </div>

    <div class="post-wrapper post post-detail">
    
        <div class="post-heading">
            <h1 class="title">{{ post.title }}
            <hr class="fancy-line">     
            </h1>
            <div class="date">{{ post.created_date|date:'Y / m / d' }}</div>
        </div>
        
        <div class="post-content">
            {{ post.text|linebreaks }}
        </div>
        <hr class="fancy-line">
        <img class="photo" src="{{ post.photo }}" alt="Cover photo for {{ post.title }}">
    </div>
    </div>
    <div class="reserved " align="center">
        <p  style="font-size: 16px ;color: white">© Rock Kuo. 2017. All rights reserved.</p>
    </div>
    <!--
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
    <script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>
    -->
</body>
</html>