<!-- templates/post.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ post.title }} | Bamboo's garage</title>
    <!--   
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <p class="site-title text-center">
            <a href="/">Bamboo's garage</a>
        </p>
        <p class="site-title2 ">Keep learning, learning deeply</p>
    </div>
    
    <div class="container">
    <div class="post_list">
        <div class="post_heading " align="right">
           <h2>目前閱讀&nbsp; &nbsp;</h2>
                    
                    <h2 class="title">
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}&nbsp; &nbsp;</a>
                    </h2>
                    <h2 class="title">
                    <a href="/">回首頁&nbsp; &nbsp;</a><br>
                    </h2>
                    
        </div>
    </div>

    <div class="post-wrapper post post-detail">
    
        <div class="post-heading">
            <h1 class="title">{{ post.title }}</h1>
            <div class="date">{{ post.created_date|date:'Y / m / d' }}</div>
        </div>
        
        <div class="post-content">
            {{ post.text|linebreaks }}
        </div>
        <hr class="fancy-line">
        <img class="photo" src="{{ post.photo }}" alt="Cover photo for {{ post.title }}">
    </div>
    </div>
    <div class="reserved " align="center">
        <p  style="font-size: 16px ;color: white">© Rock Kuo. 2017. All rights reserved.</p>
    </div>
    <!--
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
    <script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>
    -->
</body>
</html>